@font-face {
  font-family: 'nunitoregular';
  src: url('../fonts/nunito-regular-webfont.woff2') format('woff2'),
       url('../fonts/nunito-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

<<<<<<< HEAD
// Variables
@import 'variables';
=======
img {
    max-width: 100%;
}

.menu-btn {
    padding: 10px 15px;
    border: none;
    background: none;
}
.extra-product-link {
   left: -120px !important;
}
#dataTable tr th:last-of-type {
    min-width: 95px;
}
.dropable-menu-tree .placeholder  {
    border: 2px $primary dotted;
    padding: 2rem 0rem;
    margin: 0.5rem 0rem;
}
.dropable-menu-tree {
    list-style: none;
    margin: 2em 0px;
    padding: 0px 2em;
}
.display-menu-tree {
    border: 3px dotted;
    border-color: $primary;
    padding: 10px;
    margin-bottom: 10px;
}
.left-menu {
    li {
        cursor: move;
        border: 3px dotted;
    }
}
.select2-container--default .select2-selection--single,
.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-dropdown {
    border-color: #ced4da !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #898989 !important;
  color: $default-dark;
}
>>>>>>> parent of 6f1e4cb... Merge pull request #69 from octa/dev

// Bootstrap
@import '~ant-design-vue/dist/antd.less';
